
$titles:(
    ds: flex,
    js: center,
);

$btns:(
    btnwht: bolder,
    fsty: italic,
    fwght: 800,
);

$lists:(
    ds: flex,
    js: center,
    spitems: space-around,
    fwght: 700,
    tdeco: none
);

$centradoinicial:(
    ds: flex,
    js: center,
    ai: center,
);

$imgagentes:(
    ht: 36rem,
    wt: 24rem,
    wt2:17rem,
    wt3: 36rem,
    mn: 3%,
);
